.custom-file-input {
  margin: 0;
  width: 100%;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Choose file";
  margin: 10px 0;
  background-color: #303030;
  color: #f1f1f1;
  border: 1px solid #303030;
  min-width: 100%;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: all 350ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
